<h1>Control de Stock</h1>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Producto</th>
      <th>Stock Actual</th>
      <th>Actualizar Stock</th>
    </tr>
  </thead>
  <tbody>
    <% @products.each do |product| %>
      <tr>
        <td><%= product.name %></td>
        <td><%= product.stock %></td>
        <td>
          <%= form_with url: admin_update_stock_product_path(product), method: :patch, local: true do |form| %>

            <%= form.number_field :stock, value: product.stock, class: "form-control" %>
            <%= form.submit "Actualizar", class: "btn btn-primary mt-2" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
